<div id="features" class="grid sm:max-h-auto bg-gradient-to-r from-blue-100 to-pink-100 rounded-xl shadow-lg items-center py-[3rem] px-2 max-h-dvh sm:gap-2 sm:px-24 lg:grid-cols-2 border-box overflow-hidden mt-16">

    <!-- Image -->
    <div class="relative w-full max-w-lg rounded-lg overflow-hidden shadow-lg bg-white">
        <img 
          src="assets/1ps.svg" 
          alt="Responsive Image"
          class="w-full h-auto object-contain"
          style="aspect-ratio: 16 / 9;">
    </div>

    <!-- Text Content -->
    <div class="relative sm:order-2 space-y-4 text-center lg:text-left lg:px-28 xl:px-4 overflow-hidden">
        <div class="max-w-screen-xl mx-auto px-4 py-8 space-y-4 lg:py-16 lg:px-8">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Work with tools you already use
            </h2>
            <p class="font-medium lg:text-xl text-gray-600">
                Deliver great service experiences fast - without the complexity of traditional ITSM solutions. Accelerate critical development work, eliminate toil, and deploy changes with ease.
            </p>
            <!-- List -->
            <ul role="list" class=" my-7 space-y-4 ">
                <li class="flex space-x-3 items-center fle">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-purple-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-black">
                        Integration and deployment
                    </span>
                </li>
                <li class="flex space-x-3 items-center fle">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-purple-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-black">
                        Development workflow
                    </span>
                </li>
                <li class="flex space-x-3 items-center fle">
                    <!-- Icon -->
                    <svg class="flex-shrink-0 w-5 h-5 text-purple-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-base font-medium leading-tight text-gray-900 dark:text-black">
                        Knowledge management
                    </span>
                </li>
            </ul>
        </div>
    </div>
    

</div>
