<header class=" border-orange-800 border-2 p-0 m-0 h-100 bg-blue-500" >

    <nav class=" flex justify-between border-green-800 border-2">
        <div class="flex justify-center items-center">
            <img src="assets/logo.png" width="auto" height="150px" alt="Logo">     
        </div>
    
        <div class=" flex justify-center items-center px-5 font-bold ">
            <a>Product</a>
            <a>Features</a>
            <a>Marketplace</a>
            <a>Company</a>
        </div>
    
        <div class="flex justify-center items-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
        </div>
    
    
    </nav>

    

</header>

