<section id="benefit" class="py-12 bg-white rounded-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
        <div class="text-center mb-12">
            <h1 id="hwh" class="text-3xl font-extrabold text-gray-900">THE BENEFITS</h1>
            <p class="mt-4 text-lg text-gray-700">List out your product’s benefit here. A small description about what it is and how it helps the user. You can also add some icons.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="flex items-start space-x-4 p-6 bg-gradient-to-t from-blue-100 to-pink-100 hover:bg-gray-300 rounded-lg shadow-md hover:shadow-lg">
                <i class="fa-solid fa-location-dot text-3xl  text-blue-500"></i>
                <div>
                    <h3 class="text-xl font-bold text-gray-900">GPS Tracking</h3>
                    <p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>

            <div class="flex items-start space-x-4 p-6 bg-gradient-to-t from-blue-100 to-pink-100 hover:bg-gray-300 rounded-lg shadow-md hover:shadow-lg">
                <i class="fa-solid fa-heart-pulse text-3xl text-blue-500"></i>
                <div>
                    <h3 class="text-xl font-bold text-gray-900">Heartbeat Analysis</h3>
                    <p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>

            <div class="flex items-start space-x-4 p-6 bg-gradient-to-t from-blue-100 to-pink-100 hover:bg-gray-300 rounded-lg shadow-md hover:shadow-lg">
                <i class="fa-solid fa-lock text-3xl text-blue-500"></i>
                <div>
                    <h3 class="text-xl font-bold text-gray-900">Security first</h3>
                    <p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>

            
        </div>
    </div>
</section>
