<!-- Container -->
<div class="relative overflow-hidden bg-gradient-to-r from-blue-100 to-pink-100 rounded-xl shadow-lg p-6">
    <!-- Heading Row -->
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold">We Worked With</h1>

    </div>
  
<!-- Icons Grid Row -->
<div class="relative overflow-hidden">
  <!-- Animation Wrapper -->
  <div class="flex animate-slide hover:">
    <div class="flex space-x-6 p-6 gap-x-12">
      <!-- Apply fadeOut to the first and last icons -->
      <i class="fa-brands fa-apple text-4xl "></i>
      <i class="fa-brands fa-google text-4xl"></i>
      <i class="fa-brands fa-facebook text-4xl"></i>
      <i class="fa-brands fa-instagram text-4xl"></i>
      <i class="fa-brands fa-youtube text-4xl"></i>
      <i class="fa-brands fa-whatsapp text-4xl"></i>
      <i class="fa-brands fa-twitter text-4xl"></i>
      <i class="fa-brands fa-amazon text-4xl"></i>
      <i class="fa-brands fa-microsoft text-4xl"></i>
      <i class="fa-brands fa-tiktok text-4xl"></i>
      <i class="fa-brands fa-linkedin text-4xl"></i>
      <i class="fa-brands fa-spotify text-4xl"></i>
      <i class="fa-brands fa-github text-4xl "></i>
    </div>
  </div>
</div>

  </div>
  